# Carpeta/target generada por Maven
/target/

# Configuración de Eclipse
.classpath
.project
.settings/

# Configuración de IntelliJ
.idea/
*.iml
*.iws

# Carpeta de dependencias de Maven
lib/

# Carpeta de construcción de Gradle
/build/

# Logs
logs/
*.log

# Archivos de propiedades
*.properties

# Carpeta node_modules de Node.js
node_modules/

# Archivos de construcción de React
/build/
/dist/

# Archivo de configuración de React
.env

# Configuración de Visual Studio Code
.vscode/
.history/

# Archivo de configuración de Visual Studio Code para Node.js
.settings.json

# Archivos de respaldo de edición
*~
*.swp
*.bak
*.orig